<div class="row">
    <div class="col-md-7">
        <div class="card card-body">
            <h3 class="box-title m-b-0 text-center">Perfil de Usuario</h3>
            <p class="text-muted m-b-30 font-13 text-center"> {{usuario.nombre}} </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre de Usuario</label>
                            <input type="text" [ngModel]="usuario.nombre" name="nombre" class="form-control" id="exampleInputEmail1" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo de Usuario</label>
                            <input type="email" [ngModel]="usuario.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
            <div class="card card-body">
                <h3 class="box-title m-b-0 text-center">Fotografia de Usuario</h3>
                <p class="text-muted m-b-30 font-13 text-center"> {{usuario.nombre}} </p>
                <div class="row d-flex justify-content-center">
                    <img *ngIf="!imageTemp" [src]="usuario.img | imagen" class="w250">
                    <img *ngIf="imageTemp" [src]="imageTemp" class="w250">
                    <input type="file" class="my-3" (change)="cargaImagen($event)">
                    <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar Fotografia</button>
                </div>
            </div>
     </div>
</div>