/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor:pointer
}
.w150{
    width: 150px;
}
.w70{
    width: 70px;
}
.w50{
    width: 50px;
}

.w250{
    width:250px;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.fondo-oscuro{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.oculto{
    display:none;
}